$LightCyan: hsl(193, 38%, 86%);
$Neongreen: hsl(150, 100%, 66%);
$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

$font: 'Manrope', sans-serif;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}